.form-wrapper {
    width: 350px;
    margin: 150px auto;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin: 40px 5px;
}

input {
    font-size: 17px;
    padding:15px;
    border-radius: 5px;
    border: none;
    caret-color: #9ecdff;
}

label {
    font-size: 14px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.submit-btn button {
    padding: 7px;
    width: 80px;
    border-radius: 4px;
    border: 2px solid transparent;
    font-size: 15px;
    background-color: #00a65e;
    
}

.submit-btn button:hover {
    border-color: #94e4c2;
}



.next-btn button{
    padding: 7px;
    width: 80px;
    border-radius: 8px 50px  50px 8px;
    border: 2px solid transparent;
    font-size: 15px;
    background-color: #0050a6;}

.next-btn button:hover {
    border-color: #9ecdff;
}

.previous-btn button{
    padding: 7px;
    width: 80px;
    border-radius: 50px 8px  8px 50px;
    border: 2px solid transparent;
    font-size: 15px;
    background-color: #a61100;
}

.previous-btn button:hover {
    border-color: #e49494;
}